<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="cgi-opac" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="C:\inetpub\wwwroot\opac\cgi\www.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
